aside {
  display: none;
}

@media screen and (min-width: 1440px) {
  body {
    display: flex;
  }

  .aside {
    display: block;
    min-width: 10vw;
    padding: 1rem;
    background: var(--base-white);
    box-shadow: 0rem 0.4rem 1.6rem 0rem rgba(0, 0, 0, 0.16);
  }

  .aside__links {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    gap: 3rem;
  }

  .aside__link {
    font-size: 2rem;
    color: var(--secondary-text-color);
    border-radius: .8rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.75rem;
    cursor: pointer;
    transition: background .5s;
  }

  .aside__link:hover {
    background: #f5f5f5;
    color: #9b9b9b;
  }

  .aside__link:active {
    background: #E2E2E2;
    color: #898989;
  }

  .aside__link-icon {
    width: 15%;
    height: 15%;
  }

  .aside__link.selected {
    background: #d5e7f9;
  }

  .colored {
    color: var(--blue-500);
  }
}