.form {
  display: none;
}

.form__patient {
  border-radius: 8rem;
  background: var(--base-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 5rem 0rem;
  width: 50%;
  margin-bottom: 5rem;
}

.form__patient__buttons {
  display: flex;
  gap: 2rem;
}

.form__label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.8rem;
  margin: 2rem 0;

  font-size: 1.6rem;
  color: var(--label-text-color);
  line-height: 150%;
}

.form__input {
  border-radius: 0.8rem;
  border: 1px solid #ECECEC;
  padding: 1.6rem;
  transition: .3s ease-out;
}

.form__input::placeholder {
  color: var(--terciary-text-color);
  font-size: 1.6rem;
}

.form__input:hover {
  border-color: #CFCFCF;
}

.form__input:hover::placeholder {
  color: var(--placeholder-text-color);
}

.form__input:focus {
  border: 1px solid var(--location-button-color);
}

.error-message {
  color: var(--red);
  font-size: 1.2rem;
}

.form__querie-type {
  background: var(--base-white);
}

.form__notes {
  width: 100%;
  resize: none;
}

.form__button-reset,
.form__button-save {
  font-size: 1.6rem;
  font-weight: 700;
  box-shadow: 0px 4px 16px 0px rgba(72, 148, 255, 0.16);
}

.form__button-reset {
  color: var(--blue-500);
  background: transparent;
  border: 2px solid var(--blue-500, #4894FF);
  transition: 0.3s ease-out;
}

.form__button-reset:hover {
  background: var(--blue-500);
  color: var(--base-white);
}

.form__button-reset:active {
  border: 2px solid var(--blue-400);
  background: var(--blue-700);
}

.form__button-save {
  border: 2px solid var(--base-white);
  color: var(--base-white);
  background: var(--blue-500);
}

.form__button-save:hover {
  background: var(--blue-600);
}

.form__button-save:active {
  border: 2px solid var(--blue-500);
  background: var(--blue-800);
}

@media screen and (min-width: 1440px) {
  .form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}